@charset "utf-8";

/* skipnavigation */
.skip-navi {position:absolute; left:0; top:-1000px; width:100%; height: 0px; z-index:1000; line-height:1px; font-size:1px;}
.skip-navi  a {display:block; text-align:center; width: 100%;  line-height:1px; font-size:1px; text-decoration:none;}
.skip-navi  a:focus{position:absolute; left:0px; top:1000px; padding: 8px 0;  display:block; background:#20262c; font-size:12px; line-height:16px; color:#fff;}

/* notice */
.notice_wrap{position:fixed;bottom:0;left:0;width:100%;padding:0.5%
0;-ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=1, StartColorStr='#7F000000', EndColorStr='#7F000000')";filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#7F000000', EndColorStr='#7F000000');background:rgba(0,0,0,0.5);color:#fff;text-align:center;letter-spacing:-1px;z-index:100}
.notice_wrap > p{font-size:16px;font-weight:bold}

/* display */
.dis_i{display: inline !important;}
.dis_ib{display: inline-block !important;}
.dis_b{display: block !important;}
.dis_n{display: none !important;}

/* flex */
.ali_c{align-items: center !important;}
.jus_c{justify-content: center !important;}

/* float */
.fl_l{float:left !important;}
.fl_c{display:inline-block; *display:inline; zoom:1;}
.fl_r{float:right !important;}

/* width */
.w100{width: 100% !important;}
.w50{width: 50% !important;}

/* margin */
.mt0{margin-top: 0 !important;}
.mt6{margin-top: 6px !important;}
.mt15{margin-top: 15px !important;}
.mt36{margin-top: 36px !important;}
.mt60{margin-top: 60px !important;}
.mt80{margin-top: 80px !important;}
.ml6{margin-left: 6px !important;}
.mt10{margin-top: 10px !important;}
.mt20{margin-top: 20px !important;}
.mt30{margin-top: 30px !important;}
.mt40{margin-top: 40px !important;}
.mt50{margin-top: 50px !important;}
.mt100{margin-top: 100px !important;}
.mr10{margin-right: 10px !important;}
.mr20{margin-right: 20px !important;}
.mr30{margin-right: 30px !important;}
.mr40{margin-right: 40px !important;}
.mr50{margin-right: 50px !important;}
.mb10{margin-bottom: 10px !important;}
.mb20{margin-bottom: 20px !important;}
.mb30{margin-bottom: 30px !important;}
.mb40{margin-bottom: 40px !important;}
.mb50{margin-bottom: 50px !important;}
.mb100{margin-bottom: 100px !important;}
.ml10{margin-left: 10px !important;}
.ml15{margin-left: 15px !important;}
.ml20{margin-left: 20px !important;}
.ml30{margin-left: 30px !important;}
.ml40{margin-left: 40px !important;}
.ml50{margin-left: 50px !important;}

/* padding */
.pt10{padding-top: 10px !important;}
.pt15{padding-top: 15px !important;}
.pt20{padding-top: 20px !important;}
.pt30{padding-top: 30px !important;}
.pt40{padding-top: 40px !important;}
.pt50{padding-top: 50px !important;}
.pt100{padding-top: 100px !important;}
.pr10{padding-right: 10px !important;}
.pr20{padding-right: 20px !important;}
.pr30{padding-right: 30px !important;}
.pr40{padding-right: 40px !important;}
.pr50{padding-right: 50px !important;}
.pb10{padding-bottom: 10px !important;}
.pb15{padding-bottom: 15px !important;}
.pb20{padding-bottom: 20px !important;}
.pb30{padding-bottom: 30px !important;}
.pb40{padding-bottom: 40px !important;}
.pb50{padding-bottom: 50px !important;}
.pb100{padding-bottom: 100px !important;}
.pl10{padding-left: 10px !important;}
.pl20{padding-left: 20px !important;}
.pl30{padding-left: 30px !important;}
.pl40{padding-left: 40px !important;}
.pl50{padding-left: 50px !important;}

/* position */
.pos_r{position:relative !important;}
.pos_a{position:absolute !important;}
.pos_f{position:fixed !important;}
.pos_s{position: static !important;}

/* border 0 */
.bt0{border-top:0 !important}
.br0{border-right:0 !important}
.bb0{border-bottom:0 !important}
.bl0{border-left:0 !important}
.b0{border:none !important}

/* font-weight */
.fw_b{font-weight: 700 !important;}
.fw_r{font-weight: 400 !important;}
.fw_l{font-weight: 300 !important;}
.fw_t{font-weight: 100 !important;}

/* text-align */
.txt_l{text-align:left !important;}
.txt_c{text-align:center !important;}
.txt_r{text-align:right !important;}

/* text-deco */
.txt-under {text-decoration:underline;text-underline-position:under;}

/* vertical */
.vt_t{vertical-align:top !important;}
.vt_m{vertical-align:middle !important;}
.vt_b{vertical-align:bottom !important;}

/* overflow */
.oh{overflow: hidden !important;}
.ov{overflow: visible !important;}

/* img */
img {-webkit-backface-visibility:hidden;-webkit-transform:translateZ(0) scale(1.0, 1.0);}

/* 가상선택자 삭제 */
.bef_none::before,.aft_none::after,.beaf_none::before,.beaf_none::after{content:none !important}

/* clearfix */
.clearfix::after{content: "";display: block;clear: both;}

/* hide */
.hide {position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);border:0;}

/* bg black */
.bgOn {background: rgba(0, 0, 0, 0.2);position: fixed;z-index: 11;width: 100%;height: 100%;top: 0;left: 0;}

/* font(en/num) */
.fontMontB {font-family: 'MontserratB' !important;}
.fontMontR {font-family: 'MontserratR' !important;}
.fontMontL {font-family: 'MontserratL' !important;}
.fontMontT {font-family: 'MontserratT' !important;}

/* layout */
.wrap {min-width: 1263px;max-width: 1920px;width: 100%;padding-left: 180px;}
.inner {position: relative;overflow: hidden;}

/* btn-top */
.btn-top {position: fixed;bottom: 40px;right: 50px;z-index: 1;}

/* color */
.co-grey3 {color: #333;}
.co-grey5 {color: #555;}
.co-grey6 {color: #666;}
.co-grey7 {color: #777;}
.co-grey9 {color: #999;}
.co-or {color: #e16004;}
.co-rp {color: #e52a40;}
.co-rp2 {color: #e62b3c;}

/* back color */
.bg-grey3 {background-color: #333;}
.bg-grey5 {background-color: #555;}
.bg-grey7 {background-color: #777;}
.bg-grey9 {background-color: #999;}
.bg-or {background-color: #e16004;}
.bg-rp {background-color: #e52a40;}

/* cursor none */
.cursor-none {pointer-events: none;}